<a href="https://colab.research.google.com/github/shinhs0920/Engineering-computing-application/blob/master/ch02_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 02장 연습문제

**Q1** 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해보자

In [0]:
from pandas import Series, DataFrame
import pandas as pd
data={'과목':['국어','영어','수학'],'점수':[80,75,55]}
frame=DataFrame(data)
frame

   과목  점수
0  국어  80
1  영어  75
2  수학  55

**풀이**

In [0]:
a=80
b=75
c=55
(a+b+c)/3

70.0

**Q2** 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해서 말해 보자

나머지(%) 연산자를 사용하여 값이 1이면 홀수, 0이면 짝수로써 쉽게 판별 할 수 있다.

In [0]:
13%2

1

2로 나눴을 때 나머지가 1이므로 자연수 13은 홀수다

**Q4** 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

문자열 슬라이싱 기법을 사용한다

In [0]:
pin= "881120-1068234"
yyymmdd=pin[:6]
num=pin[7:]
print(yyymmdd)
print(num)

881120
1068234

**Q5** 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

In [0]:
a="a:b:c:d"
b=a.replace(":","#")
print(b)

a#b#c#d

**Q6**  [1,3,5,4,2] 리스트를 [5,4,3,2,1]로 만들어 보자.

In [0]:
a=[1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

리스트의 내장 함수인 sort를 사용하여 리스트 값들을 먼저 정렬한 후 reverse 함수를 사용하여 순서를 뒤집는다

**Q7**  ['Life','is','too','short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

In [0]:
a=['Life',' is',' too',' short']
result="".join(a)
print(result)

Life is too short

a 리스트의 각 단어들을 한 문장으로 조립할 때 단어들 사이마다 공백을 넣어 주여아한다. 1개의 공백문자("")를 사용하여 join 한다.

**Q8**  (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자

In [0]:
a=(1,2,3)
a=a+(4,)
print(a)

(1, 2, 3, 4)

a 튜플에 (4,)라는 튜플을 더하면 된다. 단, 이때 만들어지는 a+(4,)의 결과는 a 값이 변경되는 것이 아니라 (튜플은 그 값을 변경할 수 없다) 새로운 튜플이 생성되고 그 값이 a 변수에 대입되는 것임에 유념하자.
다음 코드를 실행해 보면 a의 고유 주소 값이 변경됨을 확인할 수 있다.

In [0]:
a=(1,2,3)
print(id(a))

2319305608576

In [0]:
a=a+(4,)
print(a)
print(id(a))

(1, 2, 3, 4)
2319303937224

**Q9**  다음과 같은 딕셔너리 a가 있다

In [0]:
a=dict()
a

{}

다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

1. a['name']='python'
2. a[('a',)]='python'
3. a[[1]]='python'
4. a[250]='python'

3번째 예를 실행하면 다음과 같은 오류가 발생한다

In [0]:
a[[1]]='python'

TypeError: unhashable type: 'list'

오류가 발생하는 이유는 딕셔너리의 키로는 변하는(mutable)값을 사용할 수 없기 때문이다. 위 예에서 키로 사용된 [1]은 **리스트**이므로 변하는 값이다. 다른 예에서 키로 사용된 문자열,튜플,숫자는 변하지않는(immutable)값이므로 딕셔너리의 키로 사용이 가능하다.

**Q10**  딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

In [0]:
a={'A':90,'B':80,'C':70}

딕셔너리도 리스트와 마찬가지로 다음과 같이 pop 함수를 사용할 수 있다.

In [0]:
a={'A':90,'B':80,'C':70}
result=a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

'B'키 값에 해당되는 값이 리턴되고 딕셔너리 a에서는 그 값이 제거되는 것을 확인할 수 있다.

**Q11**  a 리스트에서 중복 숫자를 제거해 보자

In [0]:
a=[1,1,1,2,2,3,3,3,4,4,5]

In [0]:
a=[1,1,1,2,2,3,3,3,4,4,5]
aSet= set(a)
b=list(aSet)
print(b)

[1, 2, 3, 4, 5]

리스트 자료형이 집합 자료형으로 변환되면서 중복된 값들은 사라지게 된다. 이와 같은 성질을 사용하면 리스트 내에 중복된 값을 쉽게 제거할 수 있다.

**Q12**  파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a,b 변수를 선언한 후 a의 두번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

[1,4,3]이 출력된다. a와 b변수는 모두 동일단 [1,2,3]이라는 리스트 객체를 가리키고 있기 때문이다.